Repository gdavis1361/TMS-GPT5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/engineering, @your-org/frontend, @your-org/backend

feat(api): enforce password policy and enable rate limit
  ROADMAP.md
  apps/api/prisma/migrations/20250808020135_contact_soft_delete/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/contacts/contacts.controller.ts
Owners: @your-org/engineering, @your-org/backend

feat(api): email verification + password reset with single-use tokens; audit logging
  ROADMAP.md
  apps/api/prisma/migrations/20250808020844_auth_email_reset_audit/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.ts
Owners: @your-org/engineering, @your-org/backend

test(api): add email verification and password reset flows
  apps/api/src/modules/auth/auth.spec.ts
Owners: @your-org/backend

test(api): add negative-path tests and audit log checks
  apps/api/src/modules/auth/auth.spec.ts
Owners: @your-org/backend

feat(api): auth rate limits and brute-force lockout
  ROADMAP.md
  apps/api/package.json
  apps/api/prisma/migrations/20250808101821_refresh_last_used/migration.sql
  apps/api/prisma/migrations/20250808102234_user_lockout_fields/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/app.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/auth.spec.ts
Owners: @your-org/engineering, @your-org/backend

feat(api): add CRUD for customers, locations, orders, documents
  ROADMAP.md
  apps/api/prisma/migrations/20250808102958_core_domain_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/app.module.ts
  apps/api/src/modules/customers/customers.controller.ts
  apps/api/src/modules/customers/customers.module.ts
  apps/api/src/modules/customers/customers.spec.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/documents.spec.ts
  apps/api/src/modules/locations/locations.controller.ts
  apps/api/src/modules/locations/locations.module.ts
  apps/api/src/modules/locations/locations.spec.ts
  apps/api/src/modules/orders/orders.controller.ts
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/orders/orders.spec.ts
Owners: @your-org/engineering, @your-org/backend

feat(api): ownership checks for customers; auth guard on domain routes; richer filters; fix tests
  apps/api/prisma/migrations/20250808104529_customer_owner_nullable/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/customers/customers.controller.ts
  apps/api/src/modules/customers/customers.module.ts
  apps/api/src/modules/customers/customers.spec.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/documents.spec.ts
  apps/api/src/modules/locations/locations.controller.ts
  apps/api/src/modules/locations/locations.module.ts
  apps/api/src/modules/locations/locations.spec.ts
  apps/api/src/modules/orders/orders.controller.ts
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/orders/orders.spec.ts
Owners: @your-org/backend

feat(api): extend ownership filtering for orders/documents; add date/tag filters and indexes
  apps/api/prisma/migrations/20250808105507_indexes_dates/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/customers/customers.controller.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/orders/orders.controller.ts
Owners: @your-org/backend

docs(roadmap): mark MFA (TOTP), mailer integration, session binding, and domain ownership progress
  ROADMAP.md
  apps/api/package.json
  apps/api/prisma/migrations/20250808110745_mfa_pwd_history/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/app.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/shared/mail.service.ts
Owners: @your-org/engineering, @your-org/backend

test(auth): add MFA (TOTP) setup/verify/disable and login enforcement tests
  apps/api/src/modules/auth/auth.spec.ts
Owners: @your-org/backend

chore: npm-only setup; Tailwind v4 postcss; typecheck scripts
  .eslintrc.cjs
  ROADMAP.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/prisma/migrations_sqlite_backup/20250807232144_init/migration.sql
  apps/api/prisma/migrations_sqlite_backup/20250807234652_add_contact/migration.sql
  apps/api/prisma/migrations_sqlite_backup/migration_lock.toml
  apps/api/src/modules/app.module.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/web/Dockerfile
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tsconfig.json
  docker-compose.override.yml
  docker-compose.yml
  package.json
  packages/config/package.json
  packages/types/package.json
  packages/ui/package.json
Owners: @your-org/engineering, @your-org/backend, @your-org/frontend

chore: prisma cleanup; npm lockfile tracked; remove unused rate-limit; pin mailpit tag
  .eslintrc.cjs
  .github/workflows/ci.yml
  .gitignore
  ROADMAP.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/prisma/dev.db
  apps/api/prisma/dev.db-journal
  apps/api/scripts/seed.ts
  apps/api/src/main.ts
  apps/web/Dockerfile
  apps/web/package-lock.json
  docker-compose.yml
  package-lock.json
  package.json
Owners: @your-org/engineering, @your-org/backend, @your-org/frontend

chore(api): add request-id propagation and Prometheus metrics; add Gitleaks config
  .gitleaks.toml
  apps/api/src/main.ts
Owners: @your-org/engineering, @your-org/backend

feat(monitoring): add Prometheus+Grafana compose and dashboard; chore(ci): add SBOM workflow; chore(db): verify CITEXT
  .github/workflows/sbom.yml
  docker-compose.yml
  monitoring/grafana/Dockerfile
  monitoring/grafana/provisioning/dashboards/api-overview.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/datasource.yml
  monitoring/prometheus.yml
  monitoring/prometheus/Dockerfile
  monitoring/prometheus/prometheus.yml
Owners: @your-org/engineering

feat(web): add shadcn-based Button, global error boundary, Toaster; utils cn; layout updates
  apps/web/app/error.tsx
  apps/web/components/ui/button.tsx
  apps/web/lib/utils.ts
Owners: @your-org/frontend

feat(web): add CardDescription/CardFooter, Textarea, Select; wire Tailwind v4 shadcn tokens
  apps/web/app/globals.css
  apps/web/components/ui/card.tsx
  apps/web/components/ui/input.tsx
  apps/web/components/ui/label.tsx
  apps/web/components/ui/select.tsx
  apps/web/components/ui/textarea.tsx
  apps/web/src/app/example/page.tsx
  apps/web/tailwind.config.ts
Owners: @your-org/frontend

fix(web): add app-level example route for Next.js App Router
  apps/web/app/example/page.tsx
Owners: @your-org/frontend

.github/CODEOWNERS:

# Default owners
* @your-org/engineering

# Apps
/apps/web/ @your-org/frontend
/apps/api/ @your-org/backend

# Packages
/packages/ui/ @your-org/frontend
/packages/types/ @your-org/engineering
/packages/config/ @your-org/engineering
